*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal underline double;
    text-transform: uppercase;
}