h3 {
    background-color: antiquewhite !important;
}
* {
    font-family: 'Courier New';
}

h1,h3 {
    color: #b92b27;
}
#login {
    background-color: white;
}
#signup {
    background-color: #b92b27;
    color: white;
}
.upvote {
    background-color: green;
    color: white;
}

/* Descendant Selectore */
.post a {
    background-color: rgba(255, 255, 0, 0.703);
    color: purple;
}
nav a {
    color: hotpink;
}
/* sibling selectore */
p+h3 {
    text-decoration: underline;
}
.upvote+button {
    background-color: rgb(3, 29, 76);
    color: white;
}

/* child combinator */
div > input {
    background-color: salmon;
}

/* attribute selector */ 
input[type="text"] {
    color: red;
}
input[type="password"] {
    color: green;
}
input[type] {
    background-color: ghostwhite;
}
button:hover {
    background-color: black;
    color: white;
}
h3:hover {
    text-decoration: overline;
}

button:active {
    background-color: pink;
    color: black;
}
p:active {
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2n) {
    background-color: blanchedalmond;
}
h1::first-letter {
    color: green;
    font-size: 2.5rem;
}
p::first-line {
    color: rgb(5, 5, 125);
}
p::selection {
    background-color: rgba(0, 255, 0, 0.648);
}