*{
    font-family: Arial, Helvetica, sans-serif;
}

.pubInfo{
    border: 1px solid rgb(115, 114, 114);
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(180, 179, 179);
}

.creationDev>p{
    background-color: rgba(80, 79, 79, 0.444);
}

.images>img{
    height: 25rem;
    margin: 7px;
}