*{
    font-family: Arial, Helvetica, sans-serif;
}

.pubInfo{
    border: 1px solid rgb(145, 145, 145);
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(196, 196, 196);
}

.creationDev>p{
    background-color: rgba(255, 192, 203, 0.444);
}

.images>img{
    height: 25rem;
    margin: 5px;
}