* {
    text-align: center;
}
/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
#mainTopic {
    color: blue;
}
h1,h3,h5 {
    font-family: Georgia;
}
.para {
    background-color: cornflowerblue;
    color: white;
}
button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}
.para:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter {
    color: red;
}
#yes:checked + label {
    color: darkgreen;
}
