.container {
    height: 100vh;
    display: grid;
    place-items: center;
}
.loader {
    border: 16px solid rgb(255, 237, 190);
    border-top: 16ps solid rgb(246, 177, 4);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite normal;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 16px solid rgb(246, 177, 4);
    }
    100% {
        transform: rotate(360deg);
        border-top: 16px solid rgb(255, 183, 1);
    }
}