.nav {
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.option {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 24px;
    line-height: 50px;
}